<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdullah Jauish | Experiences</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/index.css" type="text/css">
    <link rel="stylesheet" href="/styles/experiences.css">
    <link rel="shortcut icon" href="https://i.imgur.com/n129sHP.png" type="image/x-icon">

    
</head>
<body  data-bs-theme="dark">
    <div class="wrapper">

        <div class="header">
            <ul>
                <div class="nav-logo">
                    
                  <a href="/" method="GET"><p><img src="https://i.imgur.com/n129sHP.png"></p></a>
                </div>
                <li><a class="active" href="/" method="GET"><i class="fa-solid fa-user label" ></i> <span id="link">Whoami</span></a></li>
                <li><a href="/experiences" method="GET"><i class="fa-solid fa-atom label" ></i> <span id="link">Experiences</span></a></li>
                <li><a href="/projects" method="GET"><i class="fa-solid fa-briefcase label" ></i> <span id="link">Projects</span></a></li>
                <li><a href="/blog" method="GET"><i class="fa-solid fa-blog label" ></i> <span id="link">Blog</span></a></li>
                <li><a href="/contact" method="GET"><i class="fa-solid fa-envelope label" ></i> <span id="link">Contact</span></a></li>
                <li><a href="/feedbacks" method="GET"><i class="fa-solid fa-heart label"></i><span id="link">Feedbacks</span></a></li>
                <li><a href="/tips" method="GET"><i class="fa-solid fa-heart label" style="color: rgb(250, 46, 80);"></i><span id="link">Tip or Pay</span></a></li>

                <p class="disclamer">AbdullahJauish ©️ 2023</p>

              </ul>              
        </div>

        <div class="body">


            <div class="card text-center">
                <div class="card-body category">
                  <div class="category">
                    <b>Web Development</b>
                  </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <h5 class="card-header">HTML</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 100%; background-color: #6c28ff;"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">CSS</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 95%"></div>
                          </div>
                    </div>
                  </div>



                  <div class="card">
                    <h5 class="card-header">Javascript</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 80%"></div>
                          </div>
                    </div>
                  </div>

                  
                  <div class="card">
                    <h5 class="card-header">PHP</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 50%"></div>
                          </div>
                    </div>
                  </div>


                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Front-end</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Bootstrap 5</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 98%"></div>
                          </div>
                    </div>
                  </div>

                <div class="card">
                    <h5 class="card-header">Reactjs</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 65%"></div>
                          </div>
                    </div>
                  </div>

                  
                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Back-end</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Nodejs</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">EJS</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">ExpressJS</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 70%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Software Development</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">ElectronJS</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>

                <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Apps Development</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Ionic</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 80%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">React-native</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 70%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">Flutter</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 45%"></div>
                          </div>
                    </div>
                  </div>

                <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Automation</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">Python</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 60%"></div>
                          </div>
                    </div>
                  </div>


                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Version Control</b>
                      </div>
                    </div>
                </div>


                <div class="card">
                    <h5 class="card-header">Github</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>


                <div class="card">
                    <h5 class="card-header">Git</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 70%"></div>
                          </div>
                    </div>
                  </div>


                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Databases</b>
                      </div>
                    </div>
                </div>


                <div class="card">
                    <h5 class="card-header">MongoDB</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 70%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">mySQL</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 50%"></div>
                          </div>
                    </div>
                  </div>


                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Graphic Design</b>
                      </div>
                    </div>
                </div>


                <div class="card">
                    <h5 class="card-header">Photoshop</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card">
                    <h5 class="card-header">Illustrator</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 60%"></div>
                          </div>
                    </div>
                  </div>

                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>Motion Graphic</b>
                      </div>
                    </div>
                </div>




                <div class="card">
                    <h5 class="card-header">Premiere Pro</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 80%"></div>
                          </div>
                    </div>
                  </div>


                  <div class="card">
                    <h5 class="card-header">After Effects</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 70%"></div>
                          </div>
                    </div>
                  </div>



                  <div class="card text-center">
                    <div class="card-body category">
                      <div class="category">
                        <b>UI/UX</b>
                      </div>
                    </div>
                </div>

                <div class="card">
                    <h5 class="card-header">XD</h5>
                    <div class="card-body">
                        <div class="progress" role="progressbar" aria-label="Danger example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-danger" style="width: 90%"></div>
                          </div>
                    </div>
                  </div>




            </div>



        </div>

        <div class="footer">

        </div>




        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/fb37b4e0b0.js" crossorigin="anonymous"></script>

    </div>
</body>
</html>